@font-face {
	font-family: Along;
	src: url("./assets/fonts/Along Sans Medium.otf");
	src: url("./assets/fonts/Alongsans Medium.ttf");
	font-display: fallback;
}

@font-face {
	font-family: Along;
	font-weight: 700;
	src: url("./assets/fonts/Along Sans Semi Bold.otf");
	src: url("./assets/fonts/Along Sans Semi Bold.ttf");
	font-display: fallback;
}

@font-face {
	font-family: Along;
	font-weight: 900;
	src: url("./assets/fonts/Along Sans Extra Bold.otf");
	src: url("./assets/fonts/Along Sans Extra Bold.ttf");
	font-display: fallback;
}

@font-face {
	font-family: Aquire;
	src: url("./assets/fonts/AquireBold.otf");
	font-display: block;
}

:root {
	--default-font-size: 1.6rem;
	--primary-heading-font: 900 11rem "Along", "Trebuchet MS";
	--secondary-heading-font: 700 3rem "Along", "Trebuchet MS";
	--tertiary-heading-font: 700 1.6rem "Along", "Trebuchet MS";

	--color-white: #fefefe;
	--color-black: #161616;
	--color-gray: #707070;

	--light-green: #7ed56f;
	--dark-green: #229971;

	--light-orange: #ffb900;
	--dark-orange: #ff7730;

	--light-blue: #2998ff;
	--dark-blue: #4637cc;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	position: relative;
	font-family: "Along", "Trebuchet MS";
	user-select: none;
}

html {
	font-size: 62.5%;
}

body {
	width: 100%;
	max-height: 100vh;
	font-size: var(--default-font-size);
	line-height: 1.7;
	background-color: var(--color-white);
	color: var(--color-gray);
}

#root {
	width: 100%;
	max-height: 100vh;
	scroll-behavior: smooth;
	overflow-y: auto;
	scroll-snap-type: y proximity;
}

header,
section {
	scroll-snap-align: start;
}

a {
	font: inherit;
	display: inline-block;
	height: 100%;
	text-decoration: none;
	color: inherit;
}

li {
	list-style: none;
}

/* Media Breakpoints */
/* 
	0	- 600px(37.5em): 		Phones
	600 - 900px(56.25em): 		Tablet portriat
	900 - 1200px(75em): 		Tablet landscape	
*/

@media (max-width: 75em) {
	html {
		font-size: 56.25%; /* 1rem = 9px*/
	}
}

@media (max-width: 56.25em) {
	html {
		font-size: 50%; /* 1rem = 8px*/
	}

	header,
	section {
		scroll-snap-align: none !important;
	}
}

@media (max-width: 37.5em) {
	html {
		font-size: 43.75%; /* 1rem = 7px*/
	}
}
